.cross-client-layout{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px;
	.filters{
		display: flex;
	}
	.industry-card{
		display: inline-block;
		flex-grow: 1;
		width: 300px;
		.industry-card-body{
			display: flex; 
			flex-direction: column;
			align-items: center;
			.industry-name{
				font-weight: bold;
				padding-bottom: 15px;
				color: @secondary-color;
				font-size: 20px;
			}
			.companies-count{
				color: #565656;
				font-size: 14px;
			}
		}
		.client-card-kpi-container{
			margin-top: 2rem;
			display: flex;
			justify-content: space-evenly;
			.client-card-kpi{
				border-right: 1px solid #CCC;
				text-align: center;
				padding: 0px 10px;
				width: 100%;
				.client-card-kpi-value{
					font-size: 22px;
					font-weight: 400;
					color: @secondary-color;
					margin-bottom: 5px;
				}
				.client-card-kpi-name{
					font-size: 10px;
					color: #6F747A;
				}
			}
		}
	}
}