.stories{
	flex-grow : 1;
	overflow : auto;
	display: flex;
	flex-direction : column;
	padding: 25px 50px 50px 50px;
	.stories-top-bar{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.new-story{
			width: 120px !important;
			height: 50px !important;
			font-size: 14px;
			padding: 1rem;
			background-color: @secondary-color;
		}
	}
	.stories-filters{
		display: flex;
		margin-bottom: 1rem;
	}
	.stories-content{
		display: flex;
		flex-direction: column;
		overflow: auto;
		align-items: center;
		padding: 1px;
		margin-top: 1rem;
		.stories-card{
			width: 60rem;
			padding: 2rem;
			margin-bottom: 1rem;
			.stories-title{
				font-size: 20px;
				color: #606060;
			}
			.stories-text{
				color: #646464;
			}
			.stories-footer{
				display: flex;
				.stories-user-info{
					margin-left: 1rem;
					display: flex;
					flex-direction: column;
					justify-content: center;
					.stories-user-name{
						font-weight: 400;
						color: #606060;
					}
					.stories-date{
						color: #B7B7B7;
					}
				}
			}
		}
	}
}